@font-face {
    font-family: nvnvalky;
    src: url(../font/NVNValky-SemiBoldItalic.ttf);
}

@font-face {
    font-family: mightywings;
    src: url(../font/DFVN-Mighty-Wings.otf);
}

@font-face{
    font-family: Lobster;
    src: url(../font/Lobster-Regular.ttf)
}

@font-face{
    font-family: DancingScript;
    src: url(../font/DancingScript-VariableFont_wght.ttf)
}