.footer{
    background-color: black;
    color: white;
}

.footer-box > ul{
    margin: 0px;
    padding: 0px;
}

.footer-box > h3{
    margin-top: 15px;
    padding: 0px;
}

.footerbox > ul > li{
    margin: 0px;
    padding: 0px;
}
 
.margincheck{
    margin-bottom: 15px;
}

.footer-box{
    float:left;
    margin-left: 15px;
    padding: 0px;
    width: 300px;

    text-align: left;
}