.footer{
    background-color: #3f0e29;
    color: white;
    margin-top:15px;
}

.footer-box > ul{
    font-size: 100%;
    margin: 0px;
    padding: 0px;
}

.footer-box > h3{
    font-size: 200%;
    margin-top: 15px;
    padding: 0px;
}

.footer-box > ul > li{
    margin-top: 5%;
    padding: 0px;
}
 
.margincheck{
    margin-bottom: 15px;
}

.footer-box{
    float:right;
    margin:0px;
    padding: 0px;
    width: 400px;
    text-align: left;
}

.footer-logo{
    width:175px;
    float:left;
    margin-left: 15%;
    margin-top: 3%;
    padding:0px;
}

.footer-logo > img{
    margin:0px;
    padding:0px;
    display: inline-block;
    width: 175px;
    height:auto;
}

