

div.DauanGV > section > main > h1{
    text-align:center;
}

div.DauanGV > section > main > ol{
    list-style-type: none;
}

p.headercontentsub{
    padding:0px;
    margin:0px;
    text-align: center;
}

div.DauanGV > section > main > ol > .Dauanblock{
    float:left;
    border:2px dotted;
    width:30%;
    margin-left:10px;
    padding:0px;
    font-size:1.75em;  
    height:250px;
    border-radius:10px;
    background-color:#ffcab6;
    box-shadow:5px 5px rgb(231 161 133);
}

div.DauanGV > section > main > ol > .Dauanblock > .blockimage > img{
    padding-top:15px;
    width:25%;
    display:block;
    margin:auto;
}

div.DauanGV > section > main > ol > .Dauanblock > .blockcontent > .center{
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
}

.GiaoVienChinh > .content{
    padding:0px;
    margin:0px;
    width:100%;
}

:root {
    --red: tomato;
    --bgColor: bisque;
  }

  
img.framedleft {
    box-shadow:
      -50px -50px 0 -40px var(--red),
      50px 50px 0 -40px var(--red);
    width:100%;
}

img.framedright {
    box-shadow:
      -50px -50px 0 -40px var(--red),
      50px 50px 0 -40px var(--red);
    width:100%;
}

.GiaoVienListLeft{
    width:90%;
    margin:auto;
    display:flex;
    margin-bottom:20%;
}

.GiaoVienListLeft > .HinhAnhGiaoVienLeft{
    width:25%;
    margin-left:5%;
    display:inline-block;
}

.GiaoVienListLeft > .HinhAnhGiaoVienLeft > img{
    width:100%;
    margin:auto;
    display:block;
}

.GiaoVienInfo{
    width:74%;
    margin:auto;
    padding:auto;
    text-align:center;
}

.GiaoVienInfoBox{
    text-align:justify;
    width:80%; 
    margin:auto;
}

.GiaoVienInfo > .GiaoVienInfoBox >  p{
    height:100%;
    vertical-align: middle;
}



.GiaoVienListRight{
    width:90%;
    margin:auto;
    display:flex;
    margin-bottom:20%;
}

.GiaoVienListRight > .HinhAnhGiaoVienRight{
    width:25%;
    margin-right:5%;
    display:inline-block;

}

.GiaoVienInfo{
    width:74%;
    margin:auto;
    padding:auto;
    text-align:center;
}

.GiaoVienInfoBox{
    text-align:justify;
    width:80%; 
    margin:auto;
}

.GiaoVienInfo > .GiaoVienInfoBox >  p{
    height:100%;
    vertical-align: middle;
}


