.PageHocLieuContent > .PageHocLieuHeaderContent{
    font-family: DancingScript;
    font-weight: bold;
    text-align: center;
    font-size:2em;
    padding-top:15px;
    padding-bottom:15px;
}

.PageHocLieuContent > .PageHocLieuHeaderContent > .module > p{
    padding:0px;
    margin-top:10px;
    margin-bottom:10px;
}

.InsideHocLieu{
    width:80%;
    border: 2px dotted;
    margin:auto;
    font-size: 1.5em;
    padding:15px;
}

div.HocLieuImageContent{
    width:80%;
    height:500px;
    margin:auto;
}

img.HocLieuImageContent{
    display:block;
    width:100%;
    height:500px;
    margin:auto;
}

.centerpoem{
    font-style:italic;
    text-align:center;  
}

.titleauthor{
    text-align: right;
    font-size: 0.9em;
    font-style:italic;
}

.contentcontent{
    padding:0px;
    margin:0px;
}

.titlecontent{
    text-align:center;
    font-weight: bold;
}

.centerleftpoem{
    text-align:left;
    font-style:italic;
    margin:auto;
}

.centerleftpoem > .centerleftpoemriu{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.haveindent{
    text-indent:50px;
    text-align:justify;
}

.expand{
    padding:0px;
    margin:5px;
    width:100%;
}

.poemdetail{
    margin-left:200px;   
    text-align:right;
    font-weight: bold;
    margin-bottom:0px;
}