.imagecontent  > .center > img{
    width:90%;
    margin:0px;
    padding:5px;
    margin:auto;
}

.headercourse > .headercoursecontent{
    font-family: mightywings;
    text-align: center;
    font-size:2em;
    padding-top:15px;
    padding-bottom:15px;
}

.module {
    max-width: 90%;
    margin:auto;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(122, 221, 191), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
}

div.imagecontent {
    display:block;
    width:90%;
    margin:auto;
}

.CourseInfo > .imagecontent > div.center{
    display:flex;
    flex-wrap: wrap;
    padding-bottom:10px;
}

img.KhoaHocContent {
    --s: 10px; /* control the size */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    outline: 1px solid #000;
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0);
    margin-left:5%;
}
