.nonedeca{
    text-decoration: none;
    color: black;
}

.content{
    width: 90%;
    height: auto;
    padding: 15px;
}

.center-body > div > .content-holder{
    background-color: gold;
}


.content-holder-thong-tin{
    background-color: teal;
    margin: 0px;
    padding: 0px;
}

.content-thong-tin{
    background-color: white;
    width: 800px;
    height: auto;
    padding: 15px;
    margin: 0px;
    float: left;
    font-size: larger;
}

.aside{
    float: left;
    padding: 0px;

}

article > main > h1{
    font-size: x-large;
    font-weight: bolder;
}

article > main > p{
    width: 100%;
}

aside > h3{
    padding: 22px 0px 0px 65px;
    margin: 0px;
    font-family: sans-serif;
}

aside > ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

aside > ul > li{
    padding: 22px 0px 0px 65px;
    margin: 0px;
    font-family: sans-serif;
}
